@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F6FB;
}

:root {
  --primaryBlue: #1EAEE0;
  --black: #272C2E;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  color: #AAA;
  margin-top: 1.2rem;
}

.logo {
  font-family: 'Courgette', cursive;
  font-size: 4rem;
  color: white;
}

/* --------- Custom input --------- */

input[type=text], input[type=number], input[type=date], input[type=time], input[type=email] {
  border-radius: 5px;
  background-color: white;
  height: 42px;
  width: 100%;
  margin: 8px 0;
  padding-left: 10px;
}

.personContainer {
  height: 46px;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 4px;
}

.decoCheckbox {
  display: none;
  height: 0;
  width: 0;
}

.decoLabelCheckbox {
  height: 42px;
  border: 1px solid #AAA;
  background-color: white;
}

.decoCheckbox:checked + .decoLabelCheckbox {
  background-color: var(--primaryBlue);
  color: white;
  border: 1px solid var(--primaryBlue);
}


textarea {
  border: 1px solid #AAA;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  margin: 8px 0;
  padding-left: 10px;
  height: 100px;
}

/* ---------- Custom radio button --------- */

.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #AAA;
}

.radioContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.radioContainer input:checked ~ .checkmark {
  background-color: var(--primaryBlue);
  border: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

.radioContainer .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* ---------- Checkboxes -------- */

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.boxcheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #AAA;
}

.checkboxContainer:hover input ~ .boxcheckmark {
  background-color: #ccc;
}

.checkboxContainer input:checked ~ .boxcheckmark {
  background-color: var(--primaryBlue);
  border: 0;
}

.boxcheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .boxcheckmark:after {
  display: block;
}

.checkboxContainer .boxcheckmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: white;
}

.header-cakes {
  height: 200px;
  width: 100%;
  z-index: -1;
}

.header-cake {
  height: 220px;
  width: 100%;
  z-index: -1;
}

.vegan {
  width: 40px;
  height: 40px;
}

.vegan img {
  width: 100%;
  margin: 0;
}

.addCake {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
}